<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.gaolinfeng.imagecrop">

    <application
        android:name="tech.gaolinfeng.imagecrop.App"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">

        <activity android:name="tech.gaolinfeng.imagecrop.EntryActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="tech.gaolinfeng.imagecrop.ImageCropActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>
